In [5]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC


import sys
import os
import numpy as np
import pandas as pd
import matplotlib as plt

file_path = 'drivers/chromedriver.exe'

driver = webdriver.Chrome(file_path) # assign the driver path to variable

driver.execute("get", {'url': 'https://pokemondb.net/pokedex/all'})

driver.minimize_window() # minimize window

data = WebDriverWait(driver, 20).until(EC.visibility_of_element_located((By.CSS_SELECTOR, "table#pokedex"))).get_attribute("outerHTML")

df  = pd.read_html(data)

df = df[0]

driver.close()  # close driver, end session

columns = ['id', 'name', 'type', 'total', 'hp', 'attack', 'defense', 'special-attack', 'special-defense', 'speed'] # column names (labels) for dataset

c:\Users\Salah\Documents\apps\venv\Scripts\python.exe

C:\Users\Salah\AppData\Local\Temp\ipykernel_8760\1056126291.py:17: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(application_path) # assign the driver path to variable

WebDriverException: Message: Service c:\Users\Salah\Documents\apps\venv\Scripts\python.exe unexpectedly exited. Status code was: 2

In [2]:
df.head()

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,309,39,52,43,60,50,65

Run this code block to reset dataset!

In [3]:
# convert file to csv 

df.set_index("#", inplace=True) # set the id column to be the index

os.makedirs('C:/Users/Salah/Documents/apps/pokedex-app/datasets', exist_ok=True) # create new folder in project directory to store dataset  

df.to_csv("datasets/pokedex.csv", index=False) # converts dataset to csv file

df = pd.read_csv('datasets/pokedex.csv') # read and save file and check the first 5 entries

df.head()

,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,Charmander,Fire,309,39,52,43,60,50,65

In [ ]:
for name in df.Name:
    if name.__contains__('Mega '):
        mega_id = df.index[df['Name'] == name].tolist()
        #print(mega_id)
        df.Name[mega_id] = name.split(' ', 1)[1]

In [5]:
df.head(10)

,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,Charmander,Fire,309,39,52,43,60,50,65
5,Charmeleon,Fire,405,58,64,58,80,65,80
6,Charizard,Fire Flying,534,78,84,78,109,85,100
7,Mega Charizard X,Fire Dragon,634,78,130,111,130,85,100
8,Mega Charizard Y,Fire Flying,634,78,104,78,159,115,100
9,Squirtle,Water,314,44,48,65,50,64,43

In [6]:
poke_list = list(df.Name[:])

In [7]:
#poke_list['Charmander']

TypeError: list indices must be integers or slices, not str

In [ ]:
# organize run files

In [8]:
pokemon_lookup = input("Type the name of the pokemon you want to search up: ") # Ask the user to input the pokemon they want to search
pokemon_lookup = pokemon_lookup.title() # capitalize first letter of entry to match database

while pokemon_lookup not in poke_list:   # ensure the user is typing in valid input, if not create a validation loop by reiterating user to give valid pokemon name or id.
    pokemon_lookup = input("That pokemon was not found, please try again: ") # validation look/error trap
    pokemon_lookup = pokemon_lookup.title()

print("Searching for {} ... ".format(pokemon_lookup))

if pokemon_lookup in poke_list:
    poke_stats = df.loc[df['Name'] == pokemon_lookup] # return pokemon stats to user if successfully located
poke_stats

Searching for Charizard ...

        Name         Type  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
6  Charizard  Fire Flying    534  78      84       78      109       85    100

In [9]:
type(poke_stats)

pandas.core.frame.DataFrame

# Just going to run a bit of analysis on pokedex.csv df

Questions:
- What pokemon has the highest stat total?
- What pokemon type has the highest average stat total?
- What is the highest average stat for each type?
- What pokemon has the highest of each stat?
- How many pokemon have 500 stat totals?
- How many pokemon have multiple stats over 100?

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.shape

In [118]:
# Highest Stat Total
df.loc[df['Total'].idxmax()]

Name       Eternatus Eternamax
Type             Poison Dragon
Total                     1125
HP                         255
Attack                     115
Defense                    250
Sp. Atk                    125
Sp. Def                    250
Speed                      130
Name: 1054, dtype: object

In [ ]:
#Type with Highest Average Stat Total